@import url(./style.css);
@import url(./components/poster.css);
@import url(./components/nav.css);
@import url(./components/footer.css);
@import url(./components/button.css);

.perfil-main {
  min-height: 100vh;
  background-color: var(--color-fondo);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  padding: 40px 24px;
}

.perfil-container {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.perfil-titulo {
  text-align: center;
  color: var(--color-texto-suave)
}

.perfil-info-general {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.perfil-foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.perfil-foto img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.perfil-saludo {
  text-align: center;
  color: var(--color-texto-suave)
}

.perfil-datos {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 20px;
  border-radius: 10px;
  color: var(--color-texto-suave);
  line-height: 1.8;
  min-width: 450px;
}

.perfil-peliculas {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--color-texto-suave);
}

.perfil-peliculas-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.perfil-peliculas-grid img {
  width: 160px;
  height: 230px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.perfil-peliculas-grid img:hover {
  transform: scale(1.05);
  cursor: pointer;

}

.perfil-pelicula-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  background-color: var(--color-fondo);
}

@media (max-width: 768px) {
  .perfil-info-general {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .perfil-datos {
    width: 100%;
  }
}

.perfil-peliculas h3 {
  position: relative;
  margin-bottom: 24px;
}

.perfil-peliculas h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 8px;
  background: linear-gradient(to right, transparent, #4c4ac2, transparent);
}