@import url(../style.css);

/* Header y barra de navegacion */
header {
    background-color: var(--color-superficie);
    color: var(--color-texto);
    display: flex;
    justify-content: space-between;
    padding: 20px; 
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
}
